[Unit]
Description=Drumroll
Requires=pulseaudio.socket
After=systemd-user-sessions.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/paplay -p /usr/share/sounds/ubuntu/stereo/system-ready.ogg

[Install]
WantedBy=default.target
