Package: drumroll-service
Version: 1.0.2
Architecture: all
Maintainer: Alex313031 <alex313031@gmail.com>
Installed-Size: 2369
Pre-Depends: dpkg
Depends: pipewire-bin, libasound2, ubuntu-sounds, libcanberra-gtk-module
Recommends: gnome-session-canberra
Section: sound
Priority: optional
Description: Restores the "drumroll" that Ubuntu played during startup (not after login), which was the default
 from Ubuntu 4.10 until 17.04.
